{%extends 'base.html'%}

{%block title%}
    Edit Post
{%endblock%}

{%block styles%}

{%endblock%}

{%block content%}
{%include './includes/nav.html'%}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label for="img_url" class="form-label">Image URL:</label>
        {{ form.img(class="form-control", id='img_url', value=post.img)}}
    </div>
    <div class="mb-3">
      <label for="caption" class="form-label">Caption</label>
      {{ form.caption(class="form-control", id='caption', value=post.caption)}}
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location (optional)</label>
      {{ form.location(class="form-control", id='location', value=post.location)}}
    </div>
    {{ form.submit_btn(class="btn btn-primary", value='Update Post')}}
  </form>
{%endblock%}