{%extends 'base.html'%}

{%block title%}
    Feed
{%endblock%}

{%block styles%}

{%endblock%}

{%block content%}
    {%include './includes/nav.html'%}
    {%for post in posts%}
        <div class="mx-auto card" style="width: 18rem;">
        <img src="{{post.img}}" class="card-img-top" alt="{{post.caption}}">
        <div class="card-body">
          <h5 class="card-title">Author</h5>
          <p class="card-text">{{post.caption}}</p>
          <p class="card-text">{{post.author.username}} - {{ moment(post.data).fromNow() }}</p>
          {%if current_user.id == post.user_id%}
          <a href="{{url_for('post.edit', post_id=post.id)}}" class="btn btn-info">Edit</a>
          <a href="{{url_for('post.delete_post', post_id=post.id)}}" class="btn btn-danger">Delete</a>
          {%endif%}
        </div>
      </div>
    {%endfor%}
{%endblock%}